<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Matrix multiplication</title>
</head>
<body>

	<span><p>Please enter the size of the matrices(rows and columns)</p></span>
	<form action="#" th:action="@{/printMatrix1}" method="post">
		
		<div>
		   <h2>Matrix 1</h2>

			<label style="" for="row1">Row</label> 
			<input type="text" th:field="*{matrix.rowSize}" id="row1" placeholder="Row" /> 
				
			<label for="column1">Column</label> 
			<input type="text" th:field="*{matrix.columnSize}" id="column1" placeholder="Column" /> 
		</div>
		
		
		<div style="display: inline-block;margin-top: 15px;">
            <h2>Matrix 2</h2>
            <label for="row2">Row</label>

            <input type="text" th:field="*{matrix2.rowSize}" id="row2" placeholder="Row"/>

            <label for="column2">Column</label>

            <input type="text" th:field="*{matrix2.columnSize}" id="column2" placeholder="Column"/>
        </div>
		
		<div style="position:absolute;margin-top:15px;">
			<input type="submit" value="Input and Print Matrices" />
		</div>
	</form>

	 

</body>
</html>